/*topbar*/
#topbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
  font-size: 12px;
  .topbar_l {
    span {
      background: url("../images/topbar_ico.png") no-repeat left center;
      background-position-y: 1px;
      padding-left: 20px;
    }
  }
  .topbar_nav {
    margin-right: 36px;
    em {
      color: #ccc;
      margin: 0 10px;
    }
    a {
      color: #333;
    }
    a:hover {
      color: #666;
    }
  }
}

/*顶部nav与logo与搜索框*/
.header_nav {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
  a {
    color: #333;
  }
  a:hover {
    color: #666;
  }
  em {
    color: #ccc;
    margin: 0 20px;
  }
}

.header_logo {
  img {
    border-right: 1px solid #ccc;
    padding-right: 18px;
    margin-right: 24px;
    float: left;
  }
  span {
    font-size: 20px;
    color: #333;
    margin-top: 3px;
  }
}

.header_search {
  margin-left: 340px;
  margin-top: 20px;
  input[type="text"] {
    border: 1px solid #111;
    font-size: 12px;
    width: 236px;
    height: 32px;
    padding: 0 5px;
    color: #666;
  }
  button[type="submit"] {
    background: #111 url("../images/header_ser.png") no-repeat center;
    width: 32px;
    height: 32px;
    border: none;
  }
}

.header_tel {
  font-size: 14px;
  color: #999;
  margin-top: 12px;
  .tel {
    margin-left: 10px;

  }
  p {
    font-size: 26px;
    color: #f46100;
    font-weight: bold;
    line-height: 1.1;
  }
}

/*nav1*/
#nav1 {
  background-color: #0f0e10;
  margin-top: 20px;
  .nav1 {
    height: 52px;
    line-height: 52px;
    width: 800px;
    font-size: 0;
    a {
      font-size: 18px;
      color: #ccc;
      display: inline-block;
      width: 20%;
      text-align: center;
      transition-duration: .4s;
    }
    a:hover {
      color: #f46100;
    }
    .on {
      color: #f46100;
    }
  }
  .search {
    line-height: 52px;
    font-size: 0;
    position: relative;
    margin-right: 10px;
    input[type='text'] {
      width: 330px;
      height: 30px;
      font-size: 14px;
      color: #666;
      padding-left: 15px;
      border-radius: 15px;
      border: none;
      background-color: #f6f6f6;
    }
    input[type='image'] {
      position: absolute;
      top: 50%;
      right: 10px;

      transform: translate(0, -50%);
    }
  }
}

/*nav2*/
#nav2 {
  margin-top: 20px;
  .nav2 {
    height: 40px;
    line-height: 40px;
    background: linear-gradient(180deg, #fdfdfd, #dedede);
    border: 1px solid #dfe0df;
    a {
      font-size: 18px;
      color: #666;
      width: 150px;
      text-align: center;
      display: block;
      float: left;
    }
    .on {
      background-color: #111;
      color: #fdfdfd;
      font-weight: bold;
    }
  }
}

/*banner*/
#banner {
  background-color: #0b080f;
  .imgbox {
    font-size: 0;
    width: 878px;
    height: 390px;
    img {
      width: 878px;
      height: 390px;
    }
  }
  .infobox {
    width: 320px;
    font-size: 14px;
    color: #aaa;
    background-color: rgba(0, 0, 0, .5);
    li {
      cursor: pointer;
      padding: 35px 20px;
      transition-duration: .4s;
      height: 130px;
    }

    .tit {
      background: url("../images/play_ico.png") no-repeat left center;
      background-size: 24px;
      font-size: 18px;
      color: #ccc;
      padding-left: 35px;
      margin-bottom: 10px;
    }
    .on, li:hover {
      background-color: rgba(255, 255, 255, .1);
      .tit {
        color: #f46100;
        background: url("../images/play_ico_c.png") no-repeat left center;
      }
      .dec {
        color: #f46100;
      }
    }
  }
}

/*筛选*/
#screen {
  padding: 40px 0 30px;
  .fenlei {
    font-size: 18px;
    color: #111;
    span {
      height: 30px;
      line-height: 30px;
    }
    a {
      font-size: 16px;
      color: #333;
      background-color: #e5e5e5;
      margin-right: 20px;
      display: block;
      width: 70px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      float: left;
    }
    .on {
      color: #fff;
      background-color: #111;
    }
  }

}

/*精品推荐列表*/
#list_recommend {
  li {
    float: left;
    width: 386px;
    height: 298px;
    background: #0b080f;
    margin-right: 20px;
    transition-duration: .4s;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
  }
  li:hover {
    box-shadow: rgba(0, 0, 0, .4) 1px 1px 2px;
  }
  li:nth-child(3n) {
    margin-right: 0;
  }
  li:nth-child(-n+3) {
    margin-top: 0;
  }
  .playico {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
  .imgbox {
    width: 386px;
    height: 298px;
    line-height: 298px;
    display: block;
    text-align: center;
  }
  .tit {
    font-size: 20px;
    color: #c5c7c4;
    padding: 0 80px;
    margin-top: 110px;
  }
  .sale {
    font-size: 16px;
    color: #c8cac7;
    padding: 0 80px;
    span {
      font-size: 18px;
      color: #fefefe;
    }
  }
  .da-animate {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 99;
  }
  .da-slideFromTop {
    left: 0px;
    top: -100%;
  }
  .da-slideFromBottom {
    left: 0px;
    top: 100%;
  }
  .da-slideFromLeft {
    top: 0px;
    left: -100%;
  }
  .da-slideFromRight {
    top: 0px;
    left: 100%;
  }
  /* Final state classes: */
  .da-slideTop {
    top: 0px;
  }
  .da-slideLeft {
    left: 0px;
  }
}

/*视频展销列表*/
#list_videoexhibit {
  li {
    width: 570px;
    float: left;
    transition-duration: .4s;
    margin-top: 38px;
  }
  li:hover {
    box-shadow: #dedede 2px 1px 2px;
  }
  li:nth-child(even) {
    float: right;
  }
  li:nth-child(-n+2) {
    margin-top: 0;
  }
  .imgbox {
    background-color: #313131;
    text-align: center;
    width: 285px;
    height: 220px;
    line-height: 220px;
    position: relative;
    .playico {
      position: absolute;
      left: 15px;
      bottom: 20px;
    }
  }
  .info {
    background-color: #fff;
    width: 285px;
    height: 220px;
    padding: 30px 30px 20px;
    .tit {
      font-size: 16px;
      color: #111;
      display: block;
    }
    .sale {
      font-size: 14px;
      color: #666;
      margin-top: 20px;
      margin-bottom: 30px;
      span {
        font-size: 18px;
        color: #f46100;
      }
    }

    .weiguan, .plnum {
      font-size: 14px;
      color: #111;
      span {
        color: #999;
      }
    }
    .link {
      display: block;
      height: 42px;
      line-height: 42px;
      font-size: 18px;
      text-align: center;
      margin-top: 10px;
      background-color: #f46100;
      color: #fff;
    }
  }
}

/*已成交列表*/
#list_traded {
  li {
    width: 570px;
    float: left;
    transition-duration: .4s;
    margin-top: 38px;
  }
  li:hover {
    box-shadow: #dedede 2px 1px 2px;
  }
  li:nth-child(even) {
    float: right;
  }
  li:nth-child(-n+2) {
    margin-top: 0;
  }
  .imgbox {
    background-color: #313131;
    text-align: center;
    width: 285px;
    height: 220px;
    line-height: 220px;
    position: relative;
    .playico {
      position: absolute;
      left: 15px;
      bottom: 20px;
    }
  }
  .info {
    background-color: #fff;
    width: 285px;
    height: 220px;
    padding: 30px 30px 20px;
    .tit {
      font-size: 16px;
      color: #111;
      display: block;
    }
    .sale {
      font-size: 14px;
      color: #666;
      margin-top: 10px;
      span {
        font-size: 18px;
        color: #333;
      }
    }
    .cjj {
      font-size: 14px;
      color: #666;
      margin-bottom: 10px;
      span {
        font-size: 16px;
        color: #f46100;
      }
    }
    .weiguan, .plnum {
      font-size: 14px;
      color: #111;
      span {
        color: #999;
      }
    }
    .link {
      display: block;
      height: 42px;
      line-height: 42px;
      font-size: 18px;
      text-align: center;
      margin-top: 10px;
      background-color: #e5e5e5;
      color: #333;
    }
  }
}

/*页面路径*/
#page_path {
  height: 40px;
  line-height: 40px;
  font-size: 0;
  margin-bottom: 28px;
  a {
    color: #333;
    font-size: 14px;
  }
  em {
    margin: 0 7px;
    font-size: 14px;
    vertical-align: super;
  }
}

/*藏品详情*/
#goodinfo {
  .goo_le {
    width: 920px;
    .imgbox {
      width: 450px;
      height: 450px;
      line-height: 450px;
      text-align: center;
      background-color: #111;
      position: relative;
      .playico {
        position: absolute;
        left: 20px;
        bottom: 20px;
      }
    }
    .info {
      width: 415px;
      font-size: 0;
      .tit {
        font-size: 20px;
        color: #333;
      }
      .leibie, .time {
        font-size: 16px;
        color: #999;
        margin-right: 60px;
        margin-top: 20px;
        margin-bottom: 30px;
        span {
          color: #666;
        }
      }
      .status {
        font-size: 16px;
        width: 150px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 4px;
      }
      .ing {
        background-color: #f46100;
        color: #fff;
      }
      .end {
        background-color: #e5e5e5;
        color: #333;
      }
      .distime {
        font-size: 14px;
        color: #333;
        height: 40px;
        line-height: 40px;
        margin: 25px 0;
        span {
          width: 50px;
          text-align: center;
          background-color: #e3e3e3;
          color: #f46100;
          font-size: 18px;
          margin: 0 8px;
          display: inline-block;
        }
      }
      .sale {
        font-size: 14px;
        color: #666;
        padding: 20px;
        background-color: #f5f5f5;
        span {
          font-weight: bold;
          color: #f46100;
          font-size: 24px;
        }
      }
      .weiguan, .dianzan {
        padding: 20px 0;
        font-size: 14px;
        color: #666;
        margin-right: 20px;
        span {
          color: #186fce;
        }
        img {
          vertical-align: text-top;
          cursor: pointer;
        }
      }
      .fenxiang {
        padding: 20px 0;
        font-size: 14px;
        color: #999;
        .bdsharebuttonbox {
          margin-top: -4px;
        }
      }
      .tel {
        border-top: 1px solid #f46100;
        padding-top: 10px;
        font-size: 26px;
        color: #f46100;
      }
    }
  }
  .goo_ri {
    width: 210px;
  }
}